/*------------------GRID------------------*/

.main__inner {
  display: flex;
  justify-content: space-between;
}

@include lg {
.main__inner {
  flex-direction: column;
}
}

/*------------------------------------------*/
