.product {
  padding: 25px;
  background: #ffffff;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 15px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
