.product {
  padding: 25px;
  background: #ffffff;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 31%);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 15px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .product {
    .items {
      grid-template-columns: repeat(auto-fill, 48%);
    }
  }
}

@media (max-width: 320.98px) {
  .product {
    .items {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }
}
