.card {
  padding: 25px;
  background: #ffffff;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
  min-height: 600px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 100%;
}

.loader {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.crumbs a {
  color: #1e9ed1;
}

.left {
  max-width: 500px;
}
.info {
  display: flex;
}

.title {
  font-size: 18px;
  margin-bottom: 7px;
  margin: 0;
  -webkit-line-clamp: 2;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 7px;
}

.info img {
  margin: 0;
  margin-right: 20px;
}

.names > * {
  display: block;
  margin-bottom: 15px;
}

.right > * {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.price {
  font-size: 28px;
  font-weight: 600;
}

.btn {
  text-align: center;
  color: #ffffff;
  background: #1e9ed1;
  bottom: 0;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}

.notFound {
  text-align: center;
  position: relative;
  top: calc(50% - 27px);
}

.author {
  font-size: 14px;
  color: #7d8290;
  overflow: hidden;

  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .card {
    .inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .info {
      padding-top: 15px;
    }
    .right {
      display: flex;
    }

    .price {
      margin-right: 15px;
    }
  }
}
