.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 50px;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .inner > * {
    height: 43px;
  }

  .logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .logo span {
    display: inline-block;
    margin-right: 10px;
  }

  .logo img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }

  .basket {
    width: 35px;
    height: 35px;
    margin: 0;
    position: relative;
   

    &:hover {
      cursor: pointer;
    }

    & img {
     width: 35px;
     height: 35px;
    }
  }

  .counter {
    position: absolute;
    right: 0;
    bottom: -5px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
  }
}

@media (max-width: 991px) {
  .header {
    .logo span {
      display: none;
    }
  }
}
