.sort {
  .inner {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .title {
    margin-right: 15px;
    font-weight: 600;
  }

  .list {
    display: flex;
  }

  .list li:not(:last-of-type) {
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      color: #1e9ed1;
    }
  }
}

@media (max-width: 576px) {
  .sort {
    .title {
      margin-right: 10px;
    }
    .list li:not(:last-of-type) {
      margin-right: 7px;
    }
  }
}
