.sort {
  .inner {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .title {
    margin-right: 15px;
  }

  .list {
    display: flex;
  }

  .list li {
    margin-right: 20px;
  }
}
